* {margin: 0; padding: 0;}

  @font-face {
    font-family: Jura-Regular;
    src: url("/fontes/Jura-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: Jura-Medium;
    src: url("/fontes/Jura-Medium.ttf") format('truetype');
  }
  @font-face {
    font-family: Jura-Bold;
    src: url("/fontes/Jura-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: Jura-SemiBold;
    src: url("/fontes/Jura-SemiBold.ttf") format('truetype');
  }