* {
  margin: 0; 
  padding: 0;
  overflow-X: hidden;
}

#section-home,
#section-cta,
#section-tecnologias,
#section-tecnologias {
  max-width: 1920px;
  margin: 0 auto;
}

@font-face {
  font-family: Jura-Regular;
  src: url("/fontes/Jura-Regular.ttf") format('truetype');
}
@font-face {
  font-family: Jura-Medium;
  src: url("/fontes/Jura-Medium.ttf") format('truetype');
}
@font-face {
  font-family: Jura-Bold;
  src: url("/fontes/Jura-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Jura-SemiBold;
  src: url("/fontes/Jura-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: Jura-Light;
  src: url("/fontes/Jura-Light.ttf") format('truetype');
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/fontes/Poppins-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/fontes/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: Poppins-Regular;
  src: url("/fontes/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Poppins-ExtraLight;
  src: url("/fontes/Poppins-ExtraLight.ttf") format('truetype');
}

:root {
  --roxo: #3D0C40;
  --preto: #1E1E1E;
  --pretoclaro: #2E2E2E;
  --azul: #3399FF;
  --branco: #EAEAEA;
  --rosa: #FF66B2;
  --verde: #39FF14;
  --rosa-escuro: #AD157A;
}