body {
    background-color: #1e1e1e;
}

header {
    height: 112px;
    width: 100%;
    background-color: #eaeaea;
}

    nav {
        font: 2em "Jura-Bold", sans-serif;
        text-align: center;
        word-spacing: 38px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        nav li {
            display: inline;
        }

            .menu-item a {
                text-decoration-line: none;
                text-decoration: none;
                color: #1e1e1e;
            }

                #menu-item-contato {
                    position: relative;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .point {
                        position: absolute;
                        top: 133%;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-top: 10px;
                    }

